{
  "production": {
    "base_url": "https://wolontariusze.krakow2016.com",
    "port": 7000,
    "api_port": 3000,
    "domain": "localhost",
    "service": "rethinkdb",
    "elasticSearch": "http://es:9200/sdm",
    "rethinkdb": {
      "host": "rethinkdb",
      "db": "sdm"
    },
    "s3": {
      "region": "eu-central-1",
      "bucket": "krakow2016"
    }
  },

  "development": {
    "base_url": "http://localhost",
    "port": 7000,
    "api_port": 3000,
    "domain": "localhost",
    "service": "rethinkdb",
    "elasticSearch": "http://es:9200/sdm",
    "rethinkdb": {
      "host": "rethinkdb",
      "db": "sdm"
    },
    "s3": {
      "region": "eu-central-1",
      "bucket": "krakow2016"
    }
  },

  "test": {
    "port": 7001,
    "api_port": 3001,
    "service": "static"
  }
}
