<!doctype html>
<html>
  <head>
    <title>Strona główna</title>
    <link href='/styles.css' rel="stylesheet">
  </head>
  <body>
    <script src="/vendor.js"></script>
    {{{ body }}}
  </body>
</html>
