<!doctype html>
<html>
  <head>
    <title>Strona główna</title>
    <link href='/styles.css' rel="stylesheet">
  </head>
  <body>
    {{{ body }}}
    {{#each scripts}}
    <script src="{{this}}"></script>
    {{/each}}
  </body>
</html>
