<form action="/api/v2/login" method="post">
  <h3>
    Zaloguj się, aby przejść dalej:
  </h3>
  <div>
    <label for="email">E-mail:</label>
    <input id="email" type="text" name="username"/>
  </div>
  <div>
    <label for="password">Hasło:</label>
    <input id="password" type="password" name="password"/>
  </div>
  <div>
    <input type="submit" value="Zaloguj się"/>
  </div>
</form>
