<!-- html is the server compiled React Dom Nodes -->
<!-- comment out html to see empty non indexable source in browser -->
<h1>Wolontariusz</h1>
<div id="react-main-mount">
  {{{ html }}}
</div>

<!-- comment out main.js to ONLY see server side rendering -->
{{ script '/js/volonteer.js' }}
