body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#app {
  margin: auto;
}

.globalNav, .coverPhoto {
  /*border: 1px red solid;*/
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.navBar {
  height: 45px;
  line-height: 45px
}

.coverPhoto {
  height: 300px;
  background-size: cover;
  background-position-y: 50%;
}

.profileActivity {
  /*border: 1px red solid;*/
  flex: 1 1 650px
}

.profileActivity h3 {
  padding-left: 20px
}

.activity {
  border: 1px blue solid;
  margin: 20px;
  height: 200px;
}

.profilePicture {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto 30px;
  border-radius: 150px;
}

.smallProfilePicture {
  width: 60px;
  height: 60px;
  border-radius: 30px
}

.profileBio {
  text-align: justify;
  padding: 20px
}

.profileBio a {
  display: inline-block
}

.loginBar {
  float: right
}
