body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#app {
  margin: auto;
}

.globalNav, .coverPhoto {
  /*border: 1px red solid;*/
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.navBar {
  height: 45px;
  line-height: 45px
}

.coverPhoto {
  height: 300px;
  background-size: cover;
  background-position-y: 50%;
}

.profileActivity {
  /*border: 1px red solid;*/
  flex: 1 1 650px
}

.profileActivity h3 {
  padding-left: 20px
}

.activity {
  border: 1px blue solid;
  margin: 20px;
  height: 200px;
}

.profilePicture {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto 30px;
  border-radius: 150px;
}

.smallProfilePicture {
  width: 60px;
  height: 60px;
  border-radius: 30px
}

.profileBio {
  text-align: justify;
  padding: 20px
}

.profileBio a {
  display: inline-block
}

.profileComments {
    width: 900px;
    
}
#profileCommentsAddTitle {
    padding: 2px 0px 2px 2px;    
    width: 100%;
    background-color: #E9967A;
    color: white;
}
#profileCommentsAddTextarea {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    resize: none;
}
#profileCommentsAddToolbar {
    width: 100%;
    background-color: #9ACD32;
    text-align: right;
}
#profileCommentsEditTextarea {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    resize: none;
}
#profileCommentsEditToolbar {
    width: 100%;
    background-color: #9ACD32; 
    text-align: right;
}
#profileCommentsListTitle {
    padding: 2px 0px 2px 2px;  
    width: 100%;
    background-color: #E9967A;
    color: white;
}
.profileComments table {
    width: 100%
}
.profileComments tr {
    border-bottom: 1px solid blue;
    vertical-align: top;
}
.profileComments td:nth-child(1) {
    width: 70%;
}
.profileComments td:nth-child(2) {
    width: 15%;
}
.profileComments td:nth-child(3) {
    color: blue;
}
.profileCommentsEditColumn {
    width: 100%;
}

.loginBar {
  float: right
}

